<header>
  <mat-toolbar>
    <a routerLink="/" style="text-decoration: none; color: black;">Online Proctoring</a>
    <span style="flex: 1 1 auto;"></span>
    <span style="font-size: medium;">
      @if (userResource.isLoading()) {
        Loading user...
      } @else if (notLoggedIn()) {
        <a routerLink="/login">Log-in</a>
      } @else if (userResource.status() == ResourceStatus.Error) {
        ! error
      } @else if(loggingOut) {
        Logging out...
      } @else {
        <button mat-button [matMenuTriggerFor]="userMenu">{{ userResource.value()!.username }}</button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="logOut()">Log out</button>
        </mat-menu>
      }
    </span>
  </mat-toolbar>
</header>
<main style="flex: 1; display: flex; flex-direction: column;">
  <router-outlet />
</main>
